$navbar-default-bg: #08088A;

html, body{
  background-image:asset-url("homepage.png");
  background-size:cover;
  height: 100%;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#wrap{
  height:100%;
}

footer{
  position:relative;
  margin-top: -100px;
  border-top: 1px solid grey;
  clear:both;
}

footer small{
  float:left
}

footer ul{
  float: right;
  list-style: none;
}

#logo:hover {
  color: #eee;
  text-decoration: none;
} 

.center {
  text-align: center;
}

.jumbotron {
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

//////////////////////////////////////////////////////
// All Styling Goes Above This Section.            //
////////////////////////////////////////////////////
@import "bootstrap-sprockets";
@import "bootstrap";